/*
html {
    background: linear-gradient(to bottom, #4169E1, #1E90FF);
    margin: 0;
    padding: 0;


}

.pokeAccueil{

    justify-content: center;
    display: flex;
    align-content: center;

}
.logoPoke{
    width: 50em;
}

.Attrap{
    display: flex;
    justify-content: center;
    font-size: 3em;
    color: #daeb09;
    text-shadow: 4px 4px 6px blue;
}


main{
    background-color: whitesmoke;
    width: 80%;
    justify-content: center;
    display: flex;
    flex-direction: column;

}

.cardPokemon{

    margin: 5rem;
    padding: 2rem;
    border-radius: 1.2em;
    border: 2em solid #B0413E ;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;

}
header{

    background-color: darkred;

}

.imgPokemon{
    width: 15em;
}

.imgcatch{
    width: 5em;
}


.descripStyle{
    font-size: 0.9rem;
}

*/